html {
  direction: ltr;
  background: var(--md-background-color);
  touch-action: manipulation;
}
html,
body {
  height: 100%;
  line-height: 154%;
  margin: 0;
  // overflow: hidden;
  width: 100%;
}
body {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 81.25%;
}

:root {
  color: var(--cr-primary-text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  --cr-toolbar-field-width: 680px;
}
:root {
  --iron-icon-fill-color: var(--cr-secondary-text-color);
  display: block;
  height: 100%;
}

/* General */
div {
  display: block;
}
h1 {
  color: var(--cr-title-text-color);
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
