/* Settings sections */
.settingsWrapper {
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  outline: none;
  position: relative;
}
.settingsWrapperTitle {
  color: var(--cr-primary-text-color);
  font-size: 108%;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
  margin-top: var(--cr-section-vertical-margin);
  outline: none;
  padding-bottom: 4px;
  padding-top: 8px;
}

.settingsSection {
  background-color: var(--cr-card-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
  flex: 1;
}
.settingsSectionHeader {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.settingsSectionHeaderPopup {
  text-align: center;

  h2 {
    margin-bottom: 6px;
    margin-top: calc(var(--cr-section-vertical-margin) / 2);
    padding-bottom: 2px;
    padding-top: 4px;
  }
}

.setting {
  box-sizing: border-box;
  padding: var(--cr-section-vertical-padding) var(--cr-section-padding);

  &:not(:first-child) {
    border-top: var(--cr-separator-line);
  }
}
.settingTitle {
  color: var(--cr-primary-text-color);
}
.settingDescription {
  color: var(--cr-secondary-text-color);
}

.headerPopupWrapper {
  display: flex;
  margin-bottom: 8px;
  text-align: center;
}
.headerWrapper {
  text-align: center;
  margin-bottom: 12px;
  padding: 8px 12px 0;

  & > * {
    vertical-align: middle;
  }
}

.headerIcon {
  height: 128px;
}

.headerPopupIcon {
  height: 24px;
  margin-inline-end: 12px;
  margin-inline-start: 6px;
}
.headerPopupTitle {
  color: var(--cr-title-text-color);
  font-size: 107.6923%;
  font-weight: 500;
  flex-grow: 1;
}

/* Toggles */
.toggleRow {
  box-sizing: border-box;
}
.toggleRowLabel {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 1;
  padding: var(--toggle-row-label-vertical-padding, 0)
    var(--toggle-row-label-horizontal-padding, 0);
  width: 100%;
}
.toggleRowInput {
  display: none;
}
.toggleRowWrapper {
  flex: 1;
  margin-inline-end: 20px;
}
.toggleRowTitle {
  display: block;
}
.toggleRowToggle {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: block;
  min-width: 34px;
  outline: none;
  position: relative;
  width: 34px;
}
.toggleRowToggleBar {
  border-radius: 8px;
  height: 12px;
  left: 3px;
  position: absolute;
  top: 2px;
  transition: background-color linear 80ms;
  width: 28px;
  z-index: 0;
}
label .toggleRowToggleBar {
  background-color: var(--cr-toggle-unchecked-bar-color);
}
label input:checked ~ .toggleRowToggle .toggleRowToggleBar {
  background-color: var(--cr-toggle-checked-bar-color);
  opacity: 0.5;
}
.toggleRowToggleKnob {
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 RGB(0 0 0 / 40%);
  display: block;
  height: 16px;
  position: relative;
  transition: transform linear 80ms, background-color linear 80ms;
  width: 16px;
  z-index: 1;
}
label .toggleRowToggleKnob {
  background-color: var(--cr-toggle-unchecked-button-color);
}
label input:checked ~ .toggleRowToggle .toggleRowToggleKnob {
  background-color: var(--cr-toggle-checked-button-color);
  transform: translate3d(18px, 0, 0);
}

/* Links, key combos */
.linkRow,
.keyComboRow {
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: inherit;
  font-size: 100%;
  line-height: 154%;
  margin: 0;
  min-height: var(--cr-section-min-height);
  outline: none;
  // padding: 0;
  // padding: 0 var(--cr-section-padding);
}
.linkRowWrapper,
.keyComboRowWrapper,
.buttonRowWrapper {
  flex: 1;
  flex-basis: 0.000000001px;
  text-align: start;
}
.linkRowLink,
.keyComboRowCombo {
  -webkit-tap-highlight-color: transparent;
  border-radius: 4px;
  color: var(--cr-icon-button-stroke-color, var(--cr-icon-button-fill-color));
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  margin-inline-end: var(
    --cr-icon-button-margin-end,
    var(--cr-icon-ripple-margin)
  );
  margin-inline-start: var(--cr-icon-button-margin-start);
  outline: none;
  user-select: none;
  vertical-align: middle;
}
.linkRowLink {
  width: calc(var(--cr-icon-button-width) / 1.25);

  & svg {
    transform: scale(1.5);
  }
}

/* Key combos */
.keyComboRowCombo {
  padding: 0 calc(var(--cr-section-padding) / 1.4) 0 0;
  font-size: initial;
  position: relative;
  display: inline-block;
  text-align: right;
  min-width: 50px;
}

// Button rows
.buttonRow {
  align-items: center;
  display: flex;
  min-height: var(--cr-section-min-height);
  padding-top: 0;
  padding-bottom: 0;
}
.buttonRowWrapper {
  padding: var(--cr-section-vertical-padding) 0;
}
.verticalSeperator {
  border-inline-start: var(--cr-separator-line);
  flex-shrink: 0;
  height: 24px;
  margin: 0 16px;
}
.buttonRowButton {
  --text-color: var(--google-blue-refresh-300);
  --border-color: var(--google-grey-refresh-700);
  --paper-ripple-opacity: var(--ripple-opacity);
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: var(--cr-button-height);
  justify-content: center;
  min-width: 5.14em;
  outline-width: 0;
  padding: 8px 16px;
  position: relative;
  user-select: none;

  background-color: initial;
  transition: background-color 0.3s;
}

/* Tooltips */
.tooltipIcon {
  color: white;
  font-size: 13px;
  position: relative;
  top: 2px;
  margin-right: 5px;

  & svg {
    transform: scale(1.25);
  }
}
.tooltip {
  visibility: hidden;
  width: 90px;
  background: var(--google-red-600);
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -90px;
  font-size: 13px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--google-red-600) transparent transparent transparent;
}
